<script src="/assets/javascripts/jquery-1.6.4.min.js"></script>
<script src="/assets/javascripts/fullcalendar/jquery-ui-1.8.11.custom.min.js"></script>
<script src="/assets/javascripts/fullcalendar/fullcalendar.min.js"></script>
<script src="/assets/javascripts/fullcalendar/gcal.js"></script>

<script type='text/javascript' src='http://ebible.com/assets/verselink/ebible.verselink.js'></script>

<script>
  $(function() {

    $('#calendar').fullCalendar({
      eventSources:[
        {
          url: 'https://www.google.com/calendar/feeds/1052e6nhrb7jeog2bb8q43lqcc%40group.calendar.google.com/public/basic',
          color: '#0069D6'
        },

        {
          url: 'https://www.google.com/calendar/feeds/k8jcm7tk694h59ksv7k3fq4h8o%40group.calendar.google.com/public/basic',
          color: '#57A957'
        }
      ]
    });
    
    $('.topbar .nav li').each(function() {
      if($(this).children('a').first().attr('href') == window.location.pathname) {
        $(this).addClass('active');
      }
    });    

  });
</script>
