<!-- Base Libraries -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/jquery-ui-1.8.23.custom.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

<!-- FullCalendar -->
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/fullcalendar/gcal.js"></script>

<!-- eBible VerseLink -->
<script type='text/javascript' src='http://ebible.com/assets/verselink/ebible.verselink.js'></script>

<script>
  $(function() {

    $('#calendar').fullCalendar({
      eventSources:[
        {
          url: 'https://www.google.com/calendar/feeds/1052e6nhrb7jeog2bb8q43lqcc%40group.calendar.google.com/public/basic',
          color: '#0069D6'
        },

        {
          url: 'https://www.google.com/calendar/feeds/k8jcm7tk694h59ksv7k3fq4h8o%40group.calendar.google.com/public/basic',
          color: '#57A957'
        }
      ]
    });

    $('.navbar .nav li').each(function() {
      if($(this).children('a').first().attr('href') == window.location.pathname) {
        $(this).addClass('active');
      }
    });

  });
</script>
