<meta charset="utf-8" />
<meta name="description" content="Website for Burleson Bible Church Youth Group in Burleson, Texas" />

<link rel="icon" type="image/png" href="/assets/images/walkdark_16.png" />
<!--[if IE]><link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" /><![endif]-->

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" media="screen,projection" href="/assets/stylesheets/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" media="print" href="/assets/stylesheets/fullcalendar/fullcalendar.print.css" />
<link rel="stylesheet" media="screen,projection" href="/assets/stylesheets/default.css" />

{% if page.css %}
<link rel="stylesheet" media="screen,projection" href="/assets/stylesheets/{{ page.css  }}.css">
{% endif %}
