<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/walk_18_black.png" height="18px" width="15px" /> the walk</a>

      <div>
        <ul class="nav">
          <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        </ul>
      </div>
      <div class="pull-right hidden-phone">
        <ul class="nav">
          <li><a href="https://www.facebook.com/pages/Burleson-Bible-Church-Youth-Group/216897645002727"><img src="{{ site.baseurl }}/assets/images/facebook_16.png" width="16" height="16"/> Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
