<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/assets/images/walk_18.png" /> BBC Youth</a>
      <ul class="nav">
        <li><a href="/calendar/">Calendar</a></li>
        <li><a href="/the-walk/">The Walk</a></li>
        <li><a href="/sunday-school">Sunday School</a></li>
        <li><a href="/big-event/">The Big Event</a></li>
        <li><a href="/what-we-believe/">What We Believe</a></li>
        <li><a href="/contact/">Contact Us</a></li>
        <li><a href="/news/">News</a></li>
    </div>
  </div>
</div>