<meta charset="utf-8" />
<meta name="description" content="The Walk at Burleson Bible Church. A Youth Group in Burleson, Texas" />
<meta name="viewport" content="width=device-width; initial-scale=1" />

<link rel="icon" type="image/png" href="/assets/images/walkdark_16.png" />
<!--[if IE]><link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" /><![endif]-->

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" media="screen,projection" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" />
<link rel="stylesheet" media="print" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.print.css" />
<link rel="stylesheet" media="screen,projection" href="{{ site.baseurl }}/assets/stylesheets/default.css" />

{% if page.css %}
<link rel="stylesheet" media="screen,projection" href="{{ site.baseurl }}/assets/stylesheets/{{ page.css }}.css">
{% endif %}
