<meta charset="utf-8" />
<meta name="description" content="The Walk at Burleson Bible Church. A Youth Group in Burleson, Texas" />
<meta name="viewport" content="width=device-width; initial-scale=1" />

<link rel="icon" type="image/png" href="/assets/images/walkdark_16.png" />
<!--[if IE]><link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" /><![endif]-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" media="screen,projection" href="{{ site.baseurl }}/assets/libs/fullcalendar/fullcalendar.css?1" />
<link rel="stylesheet" media="print" href="{{ site.baseurl }}/assets/libs/fullcalendar/fullcalendar.print.css?1" />

<link rel="stylesheet" media="screen,projection" href="{{ site.baseurl }}/assets/stylesheets/default.css?1" />

{% if page.css %}
<link rel="stylesheet" media="screen,projection" href="{{ site.baseurl }}/assets/stylesheets/{{ page.css }}.css?1">
{% endif %}
