<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/assets/images/walk_18.png" height="18px" width="15px" /> bbc youth</a>
      <ul class="nav">
        <li><a href="/calendar/">Calendar</a></li>
        <li><a href="/the-walk/">The Walk</a></li>
        <li><a href="/sunday-school/">Sunday School</a></li>
        <li><a href="/what-we-believe/">What We Believe</a></li>
        <li><a href="/contact/">Contact Us</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="https://www.facebook.com/pages/Burleson-Bible-Church-Youth-Group/216897645002727"><img src="/assets/images/facebook_16.png" width="16" height="16"/> Facebook</a></li>
    </div>
  </div>
</div>
