.news {
  -webkit-font-smoothing: antialiased;
}

.hero-unit {
  color: #fff;
  box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  background: #3387de url(../images/welcome.png) no-repeat;
  background-size: cover;
  padding-right: 325px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.hero-unit h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-unit a {
  color: #EEDC94;
}

a {
  color: #55a8ff;
}

a:hover {
  color: #0069D6;
}

.footer {
  border-top-color: #eeeeee;
}

.site-error, .site-error p { font-size: 16px; line-height: 1.5; text-align: center; }
.site-error h1 {
  line-height: 1;
  font-size: 250px;
}

.site-error .verse { font-size: 24px; }
