.jumbotron {
  color: #fff;
  box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2), 1px 1px 1px rgba(255,255,255,0.2);
  background: #3387de url(../images/welcome.png) no-repeat;
  background-size: cover;
  padding-right: 325px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 20px;
}

.jumbotron a, .jumbotron a:hover {
  color: #DCEE94;
}

a {
  color: #55a8ff;
}

.footer {
  border-top-color: #eeeeee;
}

.site-error, .site-error p { font-size: 16px; line-height: 1.5; text-align: center; }
.site-error h1 {
  line-height: 1;
  font-size: 250px;
}

.site-error .verse { font-size: 24px; }

@media (max-width: 768px) {
  #main {
    margin-top: 10px;
  }

  .jumbotron {
    background: none;
    color: #333;
    padding: 0;
    box-shadow: none;
  }

  .jumbotron h1 {
    color: #333;
  }

  .jumbotron a, .jumbotron a:hover {
    color: #0088cc;
  }
}
