.hero-unit {
  background: url(../images/acts.png);
  background-size: cover;
  height: 450px;
  color: #fce9be;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .hero-unit {
    height: 300px;
  }
}
